html {
    size: 100%, 100%;
    margin: 0; 
}
body {
    size: 100%, 100%;
    margin: 0;
    background-color: #777777;
}
.headerItem {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.headerItem:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.activeItem {
    font-family: Arial, Helvetica, sans-serif;
    color: #0080ff;
    text-decoration: none;
}
.activeItem:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 128, 255, 0.5);
    text-decoration: none;
}
.link {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: underline;
}
.link:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.subscribeButton {
    color: white;
    text-decoration: none;
}
.subscribeButton:hover {
    color: #ff0000;
    text-decoration: none;
}
.joinLink {
    color: white;
    text-decoration: none;
}
.gameButton {
    color: black;
    text-decoration: none;
}
.gameButton:hover {
    color: #777777;
    text-decoration: none;
}
.gameThumbnail {
    position: relative;
    text-align: center;
    color: white;
}
.textThumbnail {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #bbbbbb;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.textThumbnailBrowser {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #00ff00;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.tierSelect {
    align-self: center;
    transition: transform .2s;
    background-image: linear-gradient(#0000ff, #0080ff);
    width: 400px;
    height: 450px;
    border-radius: 50px;
    outline: #000000 solid 3px;
}
.tierSelect:hover {
    transform: scale(1.05);
}
.featureList {
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 295px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    outline: #000000 solid 3px;
}
.dropbtn {
    background-color: #0080ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover { background-color: #ddd; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #399cff; }